@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-almostWhite: hsl(0, 0%, 98%);
  --clr-almostBlack: hsl(0, 0%, 8%);
  --clr-mediumGray: hsl(0, 0%, 41%);
  --transition: all 0.2s linear;
}

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  line-height: 1.5;
}

img:not(.nav-logo) {
  width: 100%;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.navbar {
  height: 5rem;
  padding: 1em 0.5em;
}

.btn {
  background: transparent;
  border: none;
  display: block;
}

.btn:hover {
  cursor: pointer;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  height: 2em;
}

/* HERO */

.hero-text h1 {
  font-size: 2.3rem;
  margin-bottom: 0.2em;
  margin-top: 0.7em;
}

.hero-text p {
  max-width: 25rem;
  font-weight: 500;
  margin: 0 auto 1.5em auto;
  color: var(--clr-mediumGray);
}

.hero-btn {
  background-color: var(--clr-almostBlack);
  color: var(--clr-almostWhite);
  font-family: inherit;
  padding: 0.85em 1.5em;
  border-radius: 1em;
  font-size: 1em;
  cursor: pointer;
  transition: var(--transition);
}

.hero-btn:hover {
  background: var(--clr-almostWhite);
  color: var(--clr-almostBlack);
}

.icons-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  margin-top: 2em;
  align-items: center;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  height: 100%;
  background: white;
  width: 300px;
  z-index: 99;
  transform: translateX(200%);
  top: 0;
  right: 0;
  transition: var(--transition);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-content {
  padding: 0.5em 2em;
}

.sidebar-links {
  display: grid;
  margin-top: 5em;
  justify-content: start;
  row-gap: 1rem;
  text-align: left;
  color: var(--clr-mediumGray);
  font-weight: 500;
}

.sidebar-links .btn {
  font-size: 1rem;
  color: var(--clr-mediumGray);
  font-family: inherit;
  text-align: left;
  padding-left: 0;
  font-weight: 500;
}

.sidebar-links span {
  margin-left: 0.7em;
}

.sidebar-links a {
  text-decoration: none;
  color: var(--clr-mediumGray);
}

.user-links {
  display: grid;
  margin-top: 2em;
  row-gap: 1rem;
}

.user-links a {
  color: var(--clr-mediumGray);
  font-size: 0.9rem;
  font-weight: 500;
}

.user-links .register-btn {
  border: 0.127em solid var(--clr-mediumGray);
  padding: 0.5em 1em;
  border-radius: 13px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

.attribution {
  margin-top: 4em;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 86%, 43%);
  font-weight: 500;
}

.dropdown-content {
  display: none;
  margin-top: 1em;
}

.dropdown-content a {
  display: block;
  align-items: baseline;
  justify-content: start;
  text-transform: capitalize;
  font-size: 0.92rem;
}

.dropdown-links {
  display: grid;
  align-items: center;
  justify-content: start;
}

.company-dropdown {
  margin-left: 0.7em;
}

.dropdown-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  column-gap: 0.7em;
  justify-content: start;
  margin: 0.5em;
}

.show-dropdown {
  display: block;
}
